.container {
    max-width: 600px;
  
    h2 {
      color: #4caf50;
    }
  
    mat-form-field {
      width: 100%;
    }
  
    .mat-mini-fab {
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    }
  }
  