/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}


.custom-toast {
    font-weight: bold !important;
    padding: 16px !important;
    border-radius: 8px !important;
}

.custom-toast.success-toast {
    background-color: #4caf50 !important;
    color: white !important;
}


.custom-toast.error-toast {
    background-color: #f44336 !important;
    color: white !important;
}


.mat-mdc-snack-bar-container .mdc-snackbar__surface {
    background: inherit !important;
    box-shadow: none !important;
}